<!Doctype html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body onclick="toggleModal(event);">
  <div class="page-top-banner"></div>
  <div class="global-container">
    ${htmlBody}
  </div>
  <div id="modal">
    <img class="modal-image" id="modal-image" src=""/>
    <button class="close-button" onclick="closeModal();">
      <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Cross" transform="translate(-5.000000, -5.000000)" fill="#8A939D">
            <polygon id="cross" points="19 5.0001 12.706 11.2931 6.413 5.0001 5 6.4141 11.292 12.7081 5 19.0001 6.413 20.4141 12.706 14.1221 19 20.4141 20.414 19.0001 14.121 12.7081 20.414 6.4141"></polygon>
          </g>
        </g>
      </svg>
    </button>
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="./bundle.js"></script>
</body>
</html>`